# Dependencies
node_modules/

# Production builds
dist/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Operating system & Editor files
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
